/* stylelint-disable declaration-no-important */
@use '../utils/functions/' as *;
@use '../utils/mixins' as *;

*[class].btn {
  @include flex-all-center;
  background-color: var(--color-white);
  border-radius: var(--radius-main);
  color: var(--color-black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  padding: 16px 84px;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-property: color, background-color;
  transition-timing-function: linear;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: var(--color-gray-900);
    color: var(--color-brown-400);
  }
}
