/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  @include flex-all-center;
  border-radius: var(--radius-main);
  padding: 16px 84px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--color-black);
  background-color: var(--color-white);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: var(--color-brown-400);
    background-color: var(--color-gray-900);
  }

}