.course {
  &__descr {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-block-end: 50px;

    p {
      max-width: 565px;
      width: 100%;
    }
  }

  &__list {
    counter-reset: step;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--radius-main);
    counter-increment: step;
    display: flex;
    flex-direction: column;
    min-height: 452px;
    overflow: hidden;
    padding: 32px;
    position: relative;

    &::before {
      content: counter(step, decimal-leading-zero);
      font-size: 14px;
      margin-block-end: 45px;
      opacity: 0.5;
      position: relative;
    }

    &::after {
      content: '';
      position: absolute;
      right: 32px;
      width: 32px;
      height: 32px;
      background-image: url("/icons/arrow-circle.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h3 {
      font-size: 28px;
      letter-spacing: 0;
      line-height: 1.1;
      margin-block-end: 15px;
    }

    p {
      margin-top: auto;
      opacity: 0.5;
    }
  }
}
