<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__inner">
        <div class="footer__column">
          <a class="logo" href="#">
            <img class="logo__img" src="./images/logo.svg" alt="logo of Focus frame" width="123" height="16"
              loading="lazy" />
          </a>
          <a class="footer__phone" href="tel:+380665438912">+38 066 543 8912</a>
          <p class="footer__address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
        </div>

        <div class="footer__column footer__column--nav">
          <ul class="footer__social footer__nav">
            <li><a class="footer__link" href="#">instagram</a></li>
            <li><a class="footer__link" href="#">facebook</a></li>
            <li><a class="footer__link" href="#">youtube</a></li>
          </ul>

          <nav class="footer__nav">
            <ul>
              <li><a class="footer__link" href="#">About us</a></li>
              <li><a class="footer__link" href="#">Our courses</a></li>
              <li> <a class="footer__link" href="#">Our mentors</a></li>
              <li> <a class="footer__link" href="#">Reviews</a></li>
              <li> <a class="footer__link" href="#">Contacts</a></li>
            </ul>
          </nav>
        </div>

        <div class="footer__column footer__column--form ">
          <form class="footer__form">
            <label>
              <input type="email" class="footer__input" placeholder="Enter your email" required>
            </label>
            <button type="submit" class="btn">Go</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer__bottom">

      <ul class="footer__privacy">
        <li>
          <a href="#">Privacy Policy </a>
        </li>

        <li>
          <a href="#">Public Offering Agreement</a>
        </li>
      </ul>
      <p class="footer__copyright">2024 Focus Frame <br>
        © All rights reserved</p>
    </div>

  </div>
</footer>