<section class="reviews section">

  <div class="container">

    <div class="reviews__inner">
      <h2 class="title">
        Reviews
      </h2>

      <div class="reviews__nav">
        <button class="slider-btn slider-btn--prev" type="button"></button>
        <button class="slider-btn slider-btn--next" type="button"></button>
      </div>
    </div>

    <div class="reviews__slider">
      <ul class="reviews__list swiper-wrapper">

        <li class="reviews__item swiper-slide">
          <blockquote class="reviews__blockqoute">
            <p>On your part - trust, on our part - quality and exceeding your expectations in the form of savings,
              reliability and support On your part - trust, on our part - quality and exceeding your expectations in the
              form of savings, reliability and support On your part - trust, on our part - quality and exceeding your
              expectations in the form of savings, reliability and support</p>
            <div class="reviews__content">
              <cite class="reviews__author">Director of LLC “RosVik” Ya. M. Chernov</cite>
              <div class="reviews__links">
                <a class="link" href="#">Go to the website</a>
                <a class="link link--view" href="#">View in original</a>
              </div>
            </div>
          </blockquote>

          <div class="reviews__image">
             <img src="./img/rosvik.jpg" alt="images of rosvik webpage" width="380" height="175"
              loading="lazy">
          </div>
        </li>

        <li class="reviews__item swiper-slide">
          <blockquote class="reviews__blockqoute">
            <p>On your part - trust, on our part - quality and exceeding your expectations in the form of savings,
              reliability and support On your part - trust, on our part - quality and exceeding your expectations in
              the...
            </p>
            <div class="reviews__content">
              <cite class="reviews__author">Director of LLC “RosVik” Ya. M. Chernov</cite>
              <div class="reviews__links">
                <a class="link" href="#">Go to the website</a>
                <a class="link link--view" href="#">View in original</a>
              </div>
            </div>
          </blockquote>

          <div class="reviews__image">
            <img src="./img/rosvik.jpg" alt="images of rosvik webpage" width="380" height="175"
              loading="lazy">
          </div>
        </li>

      </ul>
    </div>

    <a class="btn btn--transparent" href="#">
      View all reviews
    </a>

  </div>

</section>