@import url("https://https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&&display=swap");

:root {
  --content-width: 1240px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family: "Dm Sans", sans-serif;

  // font-weight
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  // color
  --color-black: #121212;
  --color-blue-400: #283642;
  --color-white: #fff;
  --color-brown-400: #bea69e;
  --color-gray-900: #1d1d1d;

  //  radius
  --radius-main: 12px;
  --radius-big: 15px;
  --radius-round: 50%;
}
